<!doctype html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/hst.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <!-- this is where the list of our numbers will appear -->
    <div ng-repeat="subAmount in items">{{subAmount}}</div>

    <form ng-submit="calculateTotal()">
        <input ng-model="amount" type="text" />
        <button>+</button>
        <select ng-model="province">
            <option value="AB">Alberta</option>
            <option value="BC">British Columbia</option>
            <option value="ON">Ontario</option>
        </select>
    </form>
    <input ng-model="subtotal" id="subtotal" type="text" disabled="disabled" />
    <label for="subtotal">Subtotal</label><br />
    <input ng-model="hst" id="hst" type="text" disabled="disabled" />
    <label for="hst">HST</label><br />
    <input ng-model="total" id="total" type="text" disabled="disabled" />
    <label for="total">Total</label>
</body>

</html>